body {
  background-color: #ffa600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  text-align: center;
  font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

.step {
  line-height: 200%;
  word-wrap: normal;
  max-inline-size: 45ch;
}

section {
  font-size: small;
}